<section class="hero is-fullheight-with-navbar" style="background: url('https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/35066169_374131173080407_8454439085459636224_o.jpg?_nc_cat=102&_nc_ht=scontent-sin2-2.xx&oh=2cd84144c60383b4b88ac2323f47ff4f&oe=5C678A45') center; background-size:cover; opacity: 0.8;">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title picture-title has-text-white is-uppercase has-text-weight-bold">Fun.Fit.Friends.</h1>
      <h2 class="subtitle has-text-primary is-size-1 has-text-weight-bold has-background-light">an outdoors club that introduces you to new faces and places</h1>
      <a href="http://m.me/214001225760070" class="button is-primary is-large is-focused">Chat with Lani</a>
    </div>
  </div>
</section>